# Tuples

In [1]:
 # Creating a tuple of integers
 numbers = (1, 2, 3, 4, 5)

 # Creating a tuple of strings
 fruits = ("apple", "banana", "cherry")

 # Creating a tuple with mixed data types
 mixed_tuple = (1, "apple", 3.14, True)

In [2]:
numbers  #type-1 only int tuple

(1, 2, 3, 4, 5)

In [3]:
fruits #TYPE-2 its string tuple

('apple', 'banana', 'cherry')

In [5]:
mixed_tuple  #Type-3 mixed both int & string tuple

(1, 'apple', 3.14, True)

In [7]:
fruits[2]  #accessing elements using indexing

'cherry'

In [8]:
fruits[-2]

'banana'

## Modifying Tuples

In [9]:
tuple1 = (1, 2)
tuple2 = (3, 4)
combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 4)

In [10]:
combined_tuple[1:3] #slicing using indexing method

(2, 3)

In [12]:
# tuple repitation
tup = combined_tuple * 3

## Tuple Methods

In [15]:
tup

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [14]:
tup.count(2)

3

In [16]:
tup.index(3)

2

## Examples

In [17]:
 # List of employee records
employees = [
(1, "Alice", "HR"),
(2, "Bob", "Engineering"),
(3, "Charlie", "Marketing")
]
# Print each employee record
for employee in employees:
    print(f"Employee ID: {employee[0]}, Name: {employee[1]}, Department:{employee[2]}")

Employee ID: 1, Name: Alice, Department:HR
Employee ID: 2, Name: Bob, Department:Engineering
Employee ID: 3, Name: Charlie, Department:Marketing

In [18]:
type(employees)

list